// Name: ASPNET lab04
// Author: James Smelser
// Date: August 24, 2019
@model IEnumerable<string>
    @{ Layout = null; }
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Language Features</title>
    </head>
    <body>
        <ul>
            @foreach (string s in Model)
            {
                <li>@s</li>
            }
        </ul>
    </body>
</html>
